@import "variables";

.item {
  font-size: 1.4em;
  font-weight: 500;
  text-transform: capitalize;

  .icons {
    cursor: pointer;
    opacity: 0;
  }
}

.item:hover {
  background-color: $author-hover-back-color;

  .icons {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .item {
    background-color: transparent;

    .icons {
      opacity: 1;
    }
  }
}