.pop_up {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  transition: 2s;

  .popup-close {
    z-index: 2;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    font-size: .9em;
  }
}