$font-color:#243639;
$header-color:#333439;
$plus-icon-color:#0f4aa6;
$no-item-text-color:#636766;
$add-author-color:#2e3734;
$author-hover-back-color:#f5f5f5;
$edit-icon-color:#e99511;
$bin-icon-color:#ae3637;
$form-header-color:#194B3F;
$form-close-btn-color:#1d1d1d;
$input-border-color:#989898;
$btn-back-color:#01589d;