@import "variables";

.welcome {
  h1{
    font-weight: 700;
    font-size: 3em;
    color: $font-color;
  }
  img{
    width: 100%;
    height: auto;
  }

  .credits{
    font-weight: 500;
    position: relative;
  }
  @media (max-width: 576px) {
    h1 {
      font-size: 2em;
    }
  }
}